.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  border-left: solid 1px #0000001e;
}

/* .card + .card {  si tienes una card al lado tuyo 
}*/
.card > img {
  width: 5rem;
  height: 5rem;
}

.primary {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 80px);
  grid-auto-rows: 95px;
  width: 17rem;
  margin: 30px 25px;
  border: none;
}

.primary > .name {
    order: 1;
    justify-content: center;
    /* width: 15vh; */
    /* margin-left: 35px; */
}

.primary > img {
    width: 12rem;
    height: 12rem;
    order: -1;
    margin-left: -25px;
}

.primary > .tempContainer{
  /* background-color: red; */
  order: -3;
  font-size: 6rem;
  display: flex;
  justify-content: center;
}

.name {
  background-color: #0000005e;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonX {
  border: solid 2px transparent;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: white;
  font-size: 1.9rem;
  margin-left: 0.5rem;
  margin-right: -0.4rem;
}

.buttonX:hover{
  background-color: #ffffff60;
}

.tempContainer {
  display: flex;
  justify-content: space-between;
}

.tempLeft,
.tempRigth {
  text-align: center;
  padding: 0 10px;
}
