.app {
  height: 100vh;
  width: 100%;
}

.app, .box {
  background-image: url(./assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 75vw;
  height: 75vh;
  position: absolute;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 20vh;
}